<% include partials/header %>
<h1>Accessories Reimburement</h1>


<h3>Apply for reimbursement</h3>

<p>Apply for the Accessories reimbursement and get your money back by just entering the transaction id.</p>


<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7BaCpgp-J4YZtqmw91z1LxE1zz-rRynwDxstLdYWlsyeyvyuK" alt="hospital image" style="width:650px;height:450px;">
<br><br>
<button style="width:100px;height:50px"><a href="/apply">Apply</a></button>

<br><br>

<h3>Online Retail Portal</h3>
<p>Buy the product from the link below and apply for reimbursement. Once you get the Transaction Id, copy and paste it to the apply field.</p>
<br>
<button style="width:100px;height:50px"><a href="/products">Buy</a></button>
<% include partials/footer %>
