<% include partials/header %>
   <form action="/apply" method="POST">
    <label for="tid">Transaction Id:</label><br>
    <input type="text" name="tid"><br><br>
    <label for="amount">Amount</label><br>
    <input type="text" name="amount"><br><br>
    <button style="width:100px;height:30px">Apply</button>
</form>
<% include partials/footer %>