<% include partials/header %>
<div style="margin-top:150px;">
    <h1 style="text-align:center;">Reimbursement Portal</h1>
</div>

<div style="margin-top:100px;border:1px solid purple;margin-left:500px;margin-right:500px;padding-bottom:35px;position:relative;">
   <div>
       <h1 style="color:red;text-align:center;">Welcome User!</h1>
   </div>
    
    <div style="color:red;text-align:center;">
         <li><button style="width:100px;height:25px"><a href="/register">Sign Up</a></button></li><br>
        <li><button style="width:100px;height:25px"><a href="/login">Login</a></button></li><br>
        <li><button style="width:100px;height:25px"><a href="/logout">Logout</a></button></li>
    </div>
   
</div>

<% include partials/footer %>


