<% include partials/header %>
<h1>Hospital Reimburement</h1>


<h3>Apply for reimbursement</h3>

<p>Apply for the medical reimbursement and get your money back just by entering the transaction id.</p>


<img src="https://www.oncolink.org/blogs/wp-content/uploads/hosp.jpg" alt="hospital image" style="width:650px;height:450px;">
<br><br>
<button style="width:100px;height:50px"><a href="/apply">Apply</a></button>
<% include partials/footer %>