<% include partials/header %>
<h1>Hi! Choose the Reimbursement you want to do.</h1>


<h3>Hospital</h3>
<img src="https://www.oncolink.org/blogs/wp-content/uploads/hosp.jpg" alt="hospital image" style="width:350px;height:250px;"><br><br>
<button style="width:150px;height:50px"><a href="/hospital">Hospital</a></button>

<h3>Accessories</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7BaCpgp-J4YZtqmw91z1LxE1zz-rRynwDxstLdYWlsyeyvyuK" alt="hospital image" style="width:350px;height:250px;"><br><br>
<button style="width:150px;height:50px"><a href="/accessories">Accessories</a></button>
<% include partials/footer %>

